<!--The content below is only a placeholder and can be replaced.-->

<div class="page-top">
    <div class="page-content">
        <h2>{{title}}</h2>
    </div>
</div>
<div class="main">
    <h3 class="big-title">添加任务</h3>
    <input class="task-input" (keyup)="onKey($event)">
    <p class="task-repeat-tip" *ngIf="false">*所添加任务已存在，请更换任务名称</p>
    <ul class="task-count">
        <li class="task-count-tip"></li>
        <li class="action">
            <base href="/">
            <a routerLink="/all" routerLinkActive="active">所有任务</a>
            <a routerLink="/unfinish" routerLinkActive="active">未完成任务</a>
            <a routerLink="/finish" routerLinkActive="active">完成任务</a>
        </li>
    </ul> 
</div>
<router-outlet></router-outlet>


